
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brainkeeper-primary: mat-palette($mat-green, 600, A400, 800);
$brainkeeper-accent: mat-palette($mat-light-blue, 500, 200, 800);

// The warn palette is optional (defaults to red).
$brainkeeper-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$brainkeeper-theme: mat-light-theme($brainkeeper-primary, $brainkeeper-accent, $brainkeeper-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($brainkeeper-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Work Sans', sans-serif; }

@font-face{
    font-family: Opticon_One;
    src: url(/assets/Fonts/Optio.ttf);
}

$config: mat-typography-config();

.brainkeeper-title {
    font-size: mat-font-size($config, headline);
    font-family: 'Opticon_One';
}
