.big-card {
  max-width: 800px;
  width: 50%;
  border:10px solid #5cc00b;
  position: fixed;
  top: 40px;
  margin: 0 auto;
  display: block;
  z-index: 100;
}

.bigcard-header-image {
  //TODO: replace with success or fail icon
  //background-image: url('assets/brainkeeper.png');
  border:1px solid #5cc00b;
  background-size: cover;
}

.background{
  background: rgba(0, 0, 0, 0.4);
  opacity: 0,4;
}

div{
  background-color: greenyellow;
}

