<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Vorname Nachname</mat-card-title>
  </mat-card-header>
<!--  TODO: replace with pic of selected person-->
  <img mat-card-image src="~assets/brainkeeper.png" alt="Photo of the selected Person">
  <mat-card-content>
    <p>
      Das war Richtig bzw.
      Das war Falsch. Die Person auf dem Foto ist...
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>WEITER</button>
  </mat-card-actions>
</mat-card>
