.small-card {
  width: 40%;
  height: 40%;
  min-width: 40%;
  min-height: 40%;
  max-width: 350px;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  z-index: 1;
}
.small-card:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
/*.mat-card-image{
  object-fit: cover;
  height: 120%;
  width: 120%;
}*/

.small-card-header-image {
  background-image: url('C:/Users/Colin/Documents/Studium/Software-Engineering/brainkeeper/frontend/brainkeeper/src/assets/rentner_test.jpg');
  background-size: cover;
}

.small-card-button{
  position: relative;
  background-color:  #1E90FF;
  color: white;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  width: 100px;
}

.small-card-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
