@media  (min-width: 900px) {
  .big-card-right {
    max-width: 700px;
    width: 60%;
    height: 80%;
    position: fixed;
    top: 5%;
    left: 30%;
    bottom: 5%;
    display: inline-block;
    max-height: 80%;
    z-index: 100;
    box-shadow: -1px 0px 33px 16px rgba(70,235,70,1);
  }
  .big-card-wrong {
    max-width: 700px;
    width: 60%;
    height: 80%;
    position: fixed;
    top: 5%;
    left: 30%;
    bottom: 5%;
    max-height: 80%;
    display: inline-block;
    z-index: 100;
    box-shadow: -1px 0px 33px 16px rgba(235,17,49,1);
  }
}
@media  (max-width: 899px) {
  .big-card-right {
    max-width: 700px;
    width: 60%;
    height: 80%;
    position: fixed;
    top: 5%;
    left: 15%;
    bottom: 5%;
    display: inline-block;
    max-height: 80%;
    z-index: 100;
    box-shadow: -1px 0px 33px 16px rgba(70,235,70,1);
  }
  .big-card-wrong {
    max-width: 700px;
    width: 60%;
    height: 80%;
    position: fixed;
    top: 5%;
    left: 15%;
    bottom: 5%;
    max-height: 80%;
    display: inline-block;
    z-index: 100;
    box-shadow: -1px 0px 33px 16px rgba(235,17,49,1);
  }
}
.info{
  font-size: large;
  height: auto;
}
.mat-actions{
  position: fixed;
  float: right;
  margin-bottom: 5px;
  margin-left: 50%;
}
.mat-card-image{
  object-fit: cover;
  width: 104,5%;
  height: 80%;
}
