<div *ngIf="isRight; else isWrong">
  <div *ngIf = "show; else open()">
    <div *ngIf = "chosenPerson" >
      <mat-card class="big-card-right" id = "bcardr">
          <mat-card-header>
            <mat-card-title>{{chosenPerson.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{chosenPerson.picture}}" alt="Photo of the selected Person" class="example-header-image">
          <mat-card-content>
            <p class="info">
              Das war Richtig! :)
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)= "close()">WEITER</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</div>

<ng-template #isWrong>
  <div *ngIf = "show; else open()">
    <div *ngIf = "chosenPerson" >
      <mat-card class="big-card-wrong" id = "bcardw">
          <mat-card-header>
            <mat-card-title>"{{chosenPerson.name}}"</mat-card-title>
          </mat-card-header>
          <img mat-card-image src="{{chosenPerson.picture}}" alt="Photo of the selected Person" class="example-header-image">
          <mat-card-content>
            <p class="info">
              Das war leider Falsch :(
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)= "close()">WEITER</button>
          </mat-card-actions>
        </mat-card>
    </div>
  </div>
</ng-template>
