.container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    height: calc(100% - (64px + 40px));
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.bottom-container {
    width: 80%;
    max-width: 700px;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

#btn-play {
    width: 80%;
    max-width: 700px;
    height: 70%;
}

#btn-statistics {
    width: 50%;
    margin-right: 20px;
}
#btn-persons {
    width: 50%;
}

@media(max-width: 500px) {
    #btn-play {
        width: 100%;
    }
    #btn-statistics {
        font-size: 1.5em;
        width: 100%;
        height: calc(50% - 20px);
    }
    #btn-persons {
        font-size: 1.5em;
        width: 100%;
        height: calc(50% - 20px);
    }
    #btn-play {
        font-size: 3em;
    }
    .bottom-container {
        width: 100%;
        flex-direction: column;
        padding: 0px;
    }
    .container {
        height: calc(100% - (56px + 40px));
    }
}

@media(min-width: 500px) {
    #btn-statistics {
        font-size: 1.5em;
    }
    #btn-persons {
        font-size: 1.5em;
    }
    #btn-play {
        font-size: 3.5em;
    }
    .container {
        height: calc(100% - (56px + 40px));
    }
}

@media(min-width: 600px) {
    #btn-statistics {
        font-size: 2em;
    }
    #btn-persons {
        font-size: 2em;
    }
    #btn-play {
        font-size: 4em;
    }
    .container {
        height: calc(100% - (64px + 40px));
    }
}
