.container {
    display: grid;
    grid-template-rows: repeat(6, 16%);
    grid-template-columns: repeat(1, 100%);
    @media screen and (min-width: 480px) {
      grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(2, 50%);
    }
    @media screen and (min-width: 710px) {
      grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(3, 33%);
    }
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
 }
 