<app-person-name></app-person-name>
<div class="container" *ngIf = "persons">
    <app-small-person-card (click)="clickedPicture(0)" [person] = persons[0]></app-small-person-card>
    <app-small-person-card (click)="clickedPicture(1)" [person] = persons[1]></app-small-person-card>
    <app-small-person-card (click)="clickedPicture(2)" [person] = persons[2]></app-small-person-card>
    <app-small-person-card (click)="clickedPicture(3)" [person] = persons[3]></app-small-person-card>
    <app-small-person-card (click)="clickedPicture(4)" [person] = persons[4]></app-small-person-card>
    <app-small-person-card (click)="clickedPicture(5)" [person] = persons[5]></app-small-person-card>
</div>

<div *ngIf = "chosenPerson">
    <app-big-person-card [isRight] = isRightPerson [chosenPerson] = "chosenPerson" ></app-big-person-card>
</div>
